[submodule "deps/openpal"]
	path = deps/openpal
	url = https://github.com/automatak/openpal.git
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/inih"]
	path = deps/inih
	url = https://github.com/benhoyt/inih.git
[submodule "deps/argagg"]
	path = deps/argagg
	url = https://github.com/vietjtnguyen/argagg.git
