[submodule "deps/catch/catch"]
	path = deps/catch/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/asio/asio"]
	path = deps/asio/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/argagg/argagg"]
	path = deps/argagg/argagg
	url = https://github.com/vietjtnguyen/argagg.git
[submodule "deps/ser4cpp"]
	path = deps/ser4cpp
	url = https://github.com/automatak/ser4cpp.git
[submodule "deps/exe4cpp"]
	path = deps/exe4cpp
	url = https://github.com/automatak/exe4cpp.git
[submodule "deps/log4cpp"]
	path = deps/log4cpp
	url = https://github.com/automatak/log4cpp.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
